header{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: #4c453f;
    padding-top: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
    position: relative;
    z-index: 3;
}
.logo{
    display: block;
    height: 28px;
    width: 114px;
    margin-left: 20px;
    color: #fff;
}
.btn-3d {
    position: relative;
    display: flex;
    width: 130px;
    height: 50px;
    perspective: 800px;
    margin-right: 30px;
}

.btn-3d a {
    position: absolute;
    font-size: 10px;
    inset: 0;
    transform-style: preserve-3d;
    transition: transform .15s;
}

.btn-3d a .front,
.btn-3d a .top {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    box-sizing: border-box;
}

.btn-3d a .front {
    color: #fff;
    background: #4c453f;
    transform: translateZ(25px);
}

.btn-3d a .top {
    color: #000;
    background: #fff;
    transform: rotateX(90deg) translateZ(25px);
}

.btn-3d a:hover {
    transform: rotateX(-90deg);
}
.h-cleft{
    position: relative;
    height: 683px;
    width: 683px;
    z-index: 1;
}
.h-cleft>img{
    position: absolute;
    display: block;
    height: 882px;
    width: 683px;
    left: 20%;
    right: 0;
    bottom: 5%;
}
.h-cright p {
    font-size: 100px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.f-e{
    width: 430px;
    height: 60px;
    padding: 10px;
    border-radius: 5px; 
}
.pp-cha{
    margin-left: 160px;
    margin-top: 40px;
}
.pp {
    border-radius: 50%;
    display: inline-block;
    background: #3d3732;
}
.pp a {
    display: block;
    padding: 20px;
}
.pp-con{
    margin-left: 30px;
    padding-top: 20px;
}
.pp-a{
    color: white;
}
.btn-get {
    position: relative;
    display: flex;
    perspective: 800px;
    margin-left: 160px;
    width: 430px;
    height: 60px;
    padding: 10px;
    border-radius: 50px; 
    margin-top: 10px;
    font-weight: bold;
}

.btn-get a {
    position: absolute;
    font-size: 10px;
    inset: 0;
    transform-style: preserve-3d;
}

.btn-get a .front-get,
.btn-get a .bottom-get {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.btn-get a .front-get {
    color: #000;
    background: #d3b025;
    transform: translateZ(25px);
}

.btn-get a .bottom-get {
    color: #000;
    background: #d3b025;
    transform: rotateX(-90deg) translateZ(25px);
}

.btn-get a:hover {
    transform: rotateX(90deg);
}
.text-move{
    animation: aniX 20s infinite linear;
    position: absolute;
    font-size: 200px;
    opacity: 50%;
    font-weight: bold;
    color: #d3b025;
    z-index:2;
    white-space: nowrap;
    bottom: 5%;
}
@keyframes aniX {
    0%{
        right: 0;
    }
    100%{
        right: 100%;
    }
}