.text-1-content {
  font-size: 20px;
  font-weight: bold;
  color: #d3b025;
}
.text-2-content {
  font-size: 40px;
  font-weight: bold;
}
.item {
  width: 275px;
  height: 315px;
  margin-top: 30px;
}
.a-i-content {
  height: 100px;
  width: 100px;
  text-align: center;
  padding-top: 20px;
}
.a-i-content > i {
  font-size: 50px;
  height: 100px;
  width: 100px;
  color: #000;
  background: #ffe22c;
  border-radius: 50%;
  padding-top: 30px;
  text-align: center;
  margin: 40px 0;
}
.r-y {
  background: #d3b025;
  border-radius: 20px;
  height: auto;
  padding: 50px;
}
.c2 {
  padding-top: 80px;
}
.chapter {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
}
.cl {
  font-weight: bold;
}
.cr {
  font-weight: bold;
  text-align: right;
  font-size: 20px;
}
.p-center {
  margin-top: 20px;
  color: #827580;
  margin-bottom: 20px;
}
.btn-purchasenow {
  display: inline-block;
  background-color: #000000;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
}
.btn-purchasenow > a {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
.img-content-2 {
  position: absolute;
  display: block;
  height: 500px;
  width: max-content;
  left: 30%;
  right: 0;
}
.img-content-2 > img {
  height: 450px;
}
.content-3 {
  margin-top: 200px;
}
.ct-3 {
  position: relative;
}
.con {
  overflow: hidden;
}
.con > img {
  object-fit: contain;
  padding-left: 30px;
}
.cr-3 {
  padding-top: 150px;
  padding-left: 150px;
}
.cr-3 > h1 {
  color: #d3b025;
  font-size: 90px;
}
.b-ct {
  font-size: 24px;
  font-family: sans-serif;
  padding-left: 150px;
}
.a-tae {
  color: #000;
  font-weight: bold;
}
.content-4 {
  background-color: #f8f9fa;
}
.ct-4-1 {
  padding-top: 50px;
}
.brd-cirle-img {
  height: 80px;
  width: 80px;
  margin: 15px;
  border-radius: 50%;
  background-size: contain;
  background-image: url("../img/avtar-24.jpg");
}
.rec-into {
  display: inline-block;
  background: hsl(0deg 0% 100%);
  margin: 0px 10px 0px 10px;
}

.rec-p-text {
  padding-top: 30px;
  font-size: 10px;
  white-space: nowrap;
}
.star {
  background: #000;
  padding: 5px;
}
.check-all {
  margin-top: 30px;
}
#free-chapter {
  margin: 30px 0 30px 0;
  padding: 50px 80px 50px 200px;
  background-color: hsl(47.93deg 70.16% 48.63%);
}
#form-sendemail {
  padding: 5px 50px 5px 5px;
}
.content-5 {
  background: #f8f9fa;
  padding: 40px 0;
  margin-bottom: 50px;
}
.btn-browse {
  display: inline-block;
  padding: 15px;
  background: #000;
  font-family: sans-serif;
}
#btn-ct-5 {
  background: hsl(231.43deg 100% 95.88%);
  color: hsl(230.47deg 83.33% 60%);
  display: inline-block;
  padding: 2px 5px;
  border-radius: 10px;
}
#btn-ct-5-1 {
  background: hsl(167.59deg 59.18% 90.39%);
  color: hsl(156.69deg 100% 34.31%);
  display: inline-block;
  padding: 2px 5px;
  border-radius: 10px;
}
.btn-buy-ct5 {
  font-size: 10px;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: hsl(230.41deg 82.44% 59.8%);
  color: white;
}
.btn-buy-ct5-1 {
  font-size: 10px;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: hsl(156.69deg 100% 34.31%);
  color: white;
}
.client-box {
  background-position: center;
  position: relative;
}
.client-box>a:hover {
    transform: translateY(-50%);
    transition: 1s;
}

.content-6 {
  background-image: url(../img/demo-ebook-07.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 90px;
}
.bg-left-ct-6 {
  background: url(../img/demo-ebook-06.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  border-radius: 10px;
  padding: 13% 15%;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.3), 0 30px 90px rgba(0, 0, 0, 0.3),
    0 45px 135px rgba(0, 0, 0, 0.3), 0 60px 180px rgba(0, 0, 0, 0.3);
}
.form-control{
    border: 0px;
    border-bottom: 1px red;
    border-style: solid;

}
.form-icon{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
.btn-box-shadow{
    padding: 20px 150px;
    background: #000;
    color: white;
    white-space: nowrap;
}
.btn-box-shadow:hover{
    transform: translateY(-10%);
    transition: 1s;
}
.t-l{
    text-align: left;
    font-size: 14px;
    color: #827580;
}
.bg-right-ct-6{
    padding: 13% 15%;
    height: 100%;
    position: relative;
}
.feature-box{
    padding-bottom: 25px;
}
.box-content>span>a{
    text-decoration: none;
    color: #000;
}
.box-content>span>a:hover{
    color: #d3b025;
    transition: 1s;
}


.box-icon{
    margin-right: 25px;
    font-size: 35px;
}
